h1 {
  color: pink;
  background-color: aqua;
  text-align: center;
}
ul {
  width: fit-content;
  margin: auto;
  text-align: center;
}
li {
  display: flex;
  flex-direction: column;
  margin: 4vh;
}
