h1 {
  color: pink;
  background-color: rgba(0, 255, 255, 0.35);
  text-align: center;
  margin: -1vh;
}
ul {
  width: fit-content;
  margin: auto;
  text-align: center;
}
li {
  display: flex;
  flex-direction: column;
  margin: 4vh;
}
